<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IOS-Exercise.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B16FD29217CEC23001DD52D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B16FD3D217CEC26001DD52D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B16FD48217CEC26001DD52D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
